<div class="landingPageContent">
  <div class="card">
    <div>
      <div class="card__header">
        <p class="title">Spam classifier</p>
        <p class="description">Provide the title and content of your email to determine if it is spam!</p>
      </div>
      <div class="card__inputs">
        <div class="input">
          <label class="placeholder-text" for="fname" id="placeholder-fname">
            Title
          </label>
          <input type="text" id="fname" name="fname" autocomplete="off" value="">
        </div>
        <div class="input">
          <label class="placeholder-text" for="fname" id="placeholder-fname">
            Content
          </label>
          <textarea class="" type="text" id="textarea"></textarea>
        </div>
      </div>
    </div>
    <button class="card__button">Spam check</button>
  </div>
</div>

