

.landingPageContent {
  transition: 1s;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  &--spam {
    background-color: rgba(255, 0, 0, 0.66);
  }

  &--ham {
    background-color: rgba(47, 149, 179, 0.62);
  }

  .card {
    padding: 32px;
    width: 500px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 13px 0 grey;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      .title {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
      }

      .description {
        font-size: 1rem;
        color: #42423a;
        margin: 0;
        text-align: center;
      }
    }

    &__inputs {
      display: flex;
      flex-direction: column;

      .input {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        input {
          height: 2rem;
        }

        label {
          margin: 0 0 0.5rem 1rem;
        }

        textarea {
          resize: none;
          height: 230px;
        }

        input, textarea {
          padding:  0.5rem 1rem;
          border-radius: 0.5rem;
          border: 2px solid #cfcfd0;
          outline: none !important;

          &:not(:hover) {

            transition: 0.2s;
          }

          &:hover {
            border-color: #3e75cf;
          }

          &:focus {
            border-color: #3e75cf;
            box-shadow: 0 2px 7px 0 grey;
          }
        }
      }

    }

    &__button {
      bottom: 0;
      background-color: #3e75cf;
      height: 4rem;
      color: #fffff5;
      border-radius: 0.5rem;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        background-color: #1368cd;
      }

      &:active {
        background-color: #004faa;
      }

      &:disabled {
        background-color: #42423a;
      }
    }
  }
}


.loadingState {
  cursor: progress;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: bisque;
}


